@model COMP003B.LectureActivity6._1.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
</div>

<!--Displayu all of the students enrolled in the course-->
<div class="col-md-4">
    <h4>Students</h4>
    <ul>
        @foreach (Student student in ViewBag.Students)
        {
            <li>@student.Name</li>
        }
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CourseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
